<div class="navbar-container" >
  <div class="navbar-container__body">
  <button mat-icon-button style="margin-left: 0.5rem" color="primary" aria-label="Icon button with a menu icon"
          (click)="toggleMenu=!toggleMenu" [routerLink]="['/']" >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-list *ngIf="toggleMenu" fxLayout="column" fxLayoutAlign="space-around start" >

    <mat-list-item>
     <button mat-button color="primary"   >
        <a class="navbar-container__link" routerLinkActive="active" [routerLink]="['/apple']" [routerLinkActiveOptions]="{exact: true}">Apple</a>
     </button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button color="primary">
        <a class="navbar-container__link" routerLinkActive="active" [routerLink]="['/tesla']" [routerLinkActiveOptions]="{exact: true}">Tesla</a>
      </button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button color="primary">
        <a class="navbar-container__link" routerLinkActive="active" [routerLink]="['/business']">Business</a>
      </button>
    </mat-list-item>
    <mat-list-item routerLinkActive="active">
      <button mat-button color="primary" >
        <a class="navbar-container__link" routerLinkActive="active" [routerLink]="['/tech']">Tech</a>
      </button>
    </mat-list-item>
  </mat-list>
  </div>
</div>
