
.container {
  margin: 0.5rem;

  &__card-content {
  flex-wrap: wrap;
  }
&__btn-read{
  position: absolute;
  bottom: 0.5rem;
  margin-left: 1rem;
  cursor: pointer;
  a{
    text-decoration: none;
    font-weight: 600;
  }
}
  &__body {
    width: 21rem;
  }

  @media (max-width: 1200px) {
    &__article-card {
      width: 20rem;
    }
    &__card-image {
      width: 18rem;
    }
  }
  @media (max-width: 992px) {
    &__artcle-card {
      width: 19rem;
    }
    &__card-image {
      width: 18rem;
    }
  }
  @media (max-width: 767px) {
    &__article-card {
      width: 18rem;
    }
    &__card-image {
      width: 16rem;
    }
  }
  @media (max-width: 400px) {
    &__article-card {
      width: 18rem;
    }
    &__card-image {
      width: 16rem;
    }
  }

}
