<div class="form-container" fxLayout="column" fxLayoutAlign="center end" >
  <div class="form-container__body" >
  <button class="form-container__show-btn" mat-button color="primary" (click)="submitToggle=!submitToggle">New article</button>
  </div>
   <form [formGroup]="form" (ngSubmit)="submit()" class="form-container__content" *ngIf="submitToggle">
     <div fxLayout="column" fxLayoutAlign="center center" >
      <mat-form-field appearance="fill">
        <mat-label>Topic</mat-label>
        <mat-select formControlName="topic">
          <mat-option value="apple">Apple</mat-option>
          <mat-option value="tesla">Tesla</mat-option>
          <mat-option value="tech">Tech</mat-option>
          <mat-option value="business">Business</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput type="text"
               placeholder="Title"
               formControlName="title">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Image</mat-label>
        <input matInput type="text"
               placeholder="Image"
               formControlName="url">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>

        <textarea matInput
                  formControlName="description"></textarea>

      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Content</mat-label>
        <textarea matInput
                  formControlName="content"></textarea>
      </mat-form-field>
     </div>
      <button mat-stroked-button color="primary" type="submit" [disabled]="form.invalid"  >Add  Article</button>
    </form>

</div>

